<h1>Burgers Burgers Burgers</h1>

<ul>
  {{#each burgers}}
    <li data-id={{this.id}}>{{this.burger_name}}</li>
  {{/each}}
</ul>

<form action="">
    <label for="burgerName">Add Burger</label>
    <input type="text" name="burgerName">
    <button type="submit">Submit</button>
</form>